<navbarheader></navbarheader>
<div data-ng-controller="CadastroUsuarioController as CadastroUsuario">
	<boxtitulo title="boxTitle"></boxtitulo>
	<div class="grid-info">
		<div class="container">
			<div class="row">
				<menuside></menuside>
				<div class="lista">
					<div class="col-sm-12 col-md-9 col-lg-9">

						<div class="row">
							<div class="col-md-12">
								<div class="titulo-sala">
									cadastro
								</div>
								<div class="box-sala">
									<ul class="list-inline">
										<li>
											<form class="form-horizontal" name="form" data-ng-submit="CadastroUsuario.submit(user, password, access)" role="form">
												<fieldset>

													<div class="form-group">
														<div class="col-md-offset-2 col-md-6">
															<div class="input-group">
																<span class="input-group-addon">Usuário</span>
																<input type="text" class="form-control" name="user" id="user" data-ng-model="user" required="">
															</div>
														</div>

													</div>
													<div class="form-group">
														<div class="col-md-offset-2 col-md-6">
															<div class="input-group">
																<span class="input-group-addon">Senha</span>
																<input type="password" class="form-control" name="password" id="password" data-ng-model="password"  required="">
															</div>
														</div>

													</div>
													<div class="form-group">
														<div class="col-md-offset-2 col-md-6">
															<div class="input-group">
																<span class="input-group-addon">Acesso</span>
																<select class="form-control" data-ng-model="access">
																	<option value="admin">Admin</option>
																	<option value="user">User</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="col-lg-offset-2 col-md-6">
															<button type="submit" class="btn btn-login btn-block">Salvar</button>
														</div>
													</div>

												</fieldset>
											</form>
										</li>
									</ul>
								</div>
							</div>
						</div> <!-- row -->

						<div data-ng-if="CadastroUsuario.yes_user">

							<h4>Usuários Cadastrados</h4>

							<div class="box-alunos-editar clearfix">
								<div class="gerenciar-notas-editar">
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6">
												<b>Nome</b>
											</div>
											<div class="col-md-6">
												<b>Acesso</b>
											</div>
										</div>
									</div>
									<div class="row" data-ng-repeat='lista_user in CadastroUsuario.lista_users'>
										<div class="col-md-12">
											<div class="col-md-6">
												<div class="box-avaliacoes">
													<ul class="list-unstyled">
														<li>
															{{lista_user.name}}
														</li>
													</ul>
												</div>
											</div>
											<div class="col-md-6">
												<div class="box-avaliacoes">
													<ul class="list-unstyled">
														<li>
															{{lista_user.acess}}
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- row -->


					</div>
				</div>
			</div>
		</div>
	</div>
</div>