<navbarheader></navbarheader>
<div data-ng-controller="DashboardController as Dashboard">
  <boxtitulo title="boxTitle"></boxtitulo>
  <div class="grid-info">
    <div class="container">
      <div class="row">
        <menuside></menuside>
        <div class="lista">
          <div class="col-sm-12 col-md-9 col-lg-9">

            <div class="row">
             <div class="col-md-12">
               <div class="titulo-sala">
                Dashboard
              </div>
              <div class="box-sala clearfix">

                <div data-ng-if="Dashboard.no_user">
                  <div class="col-md-12 clearfix text-center box-dashboard" data-ng-hide="Dashboard.actualCookie == 'user'">
                    <h5>Nenhum usuário cadastrado!</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a class="btn btn-comum" data-ng-class="{active: Dashboard.isActive('/cadastro-usuario')}" href="/cadastro-usuario"">Cadastrar usuário</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div data-ng-if="Dashboard.no_task">
                  <div class="col-md-12 clearfix text-center box-dashboard">
                    <h5>Nenhuma tarefa cadastrado!</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a class="btn btn-comum" data-ng-class="{active: Dashboard.isActive('/cadastro-tarefa')}" href="/cadastro-tarefa"">Cadastrar tarefa</a>
                      </li>
                    </ul>
                  </div>
                </div>


                <div data-ng-hide="Dashboard.actualCookie == 'user'"  data-ng-if="Dashboard.yes_user">
                  <div class="titulo-chamada">
                    Usuários Cadastrados
                  </div>
                  <div class="col-md-12 clearfix">
                    <div class="filtro">
                      <label>Filtro:</label>
                      <input data-ng-model="filtra_user" name="">
                    </div>
                  </div>

                  <div class="box-alunos-editar">
                    <div class="gerenciar-notas-editar">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <b>Nome</b>
                          </div>
                          <div class="col-md-6">
                            <b>Acesso</b>
                          </div>
                        </div>
                      </div>

                      <div class="row" data-ng-repeat='lista_user in Dashboard.lista_users | orderBy:"name" | filter:filtra_user'>
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box-avaliacoes">
                              <ul class="list-unstyled">
                                <li>
                                  {{lista_user.name}}
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="box-avaliacoes">
                              <ul class="list-unstyled">
                                <li>
                                  {{lista_user.acess}}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- row -->

                <div data-ng-if="Dashboard.yes_task">

                  <div class="titulo-chamada">
                    Tarefas Cadastradas
                  </div>

                  <div class="col-md-12 clearfix">
                    <div class="filtro">
                      <label>Filtro:</label>
                      <input data-ng-model="filtra_task" name="">
                    </div>
                  </div>

                  <div class="box-alunos-editar">
                    <div class="gerenciar-notas-editar">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-4">
                            <b>Nome</b>
                          </div>
                          <div class="col-md-4">
                            <b>Descrição</b>
                          </div>
                          <div class="col-md-4">
                            <b>Data de Conclusão</b>
                          </div>
                        </div>
                      </div>
                      <div class="row" data-ng-repeat='lista_task in Dashboard.lista_tasks | orderBy:"name" | filter:filtra_task'>
                        <div class="col-md-12">
                          <div class="col-md-4">
                            <div class="box-avaliacoes">
                              <ul class="list-unstyled">
                                <li>
                                  {{lista_task.name}}
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="box-avaliacoes">
                              <ul class="list-unstyled">
                                <li>
                                  {{lista_task.description}}
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="box-avaliacoes">
                              <ul class="list-unstyled">
                                <li>
                                  {{lista_task.data | date:'d/M/yyyy'}}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- row -->

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</div>